<div class="control-group">
    <label for="name" class="control-label">Type:</label>

    <div class="controls">
        <div class="btn-group">
            <button class="btn dropdown-toggle addressTypeDropdown" data-toggle="dropdown"><span class="valueType"><%- getAvailDesc(availableTypes, type) %></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <% _.each(availableTypes, function(type) { %>
                <li><a href="<%- type.name %>"><%- type.description %></a></li>
                <% }) %>
            </ul>
        </div>
        &nbsp;
        <button class="btn btn-danger removeAddress"><i class="icon-remove icon-white"></i></button>
        <span class="help-inline"></span>
    </div>
</div>

<div class="control-group">
    <label for="description" class="control-label">Town:</label>
    <div class="controls">
        <input type="text" id="name" name="town" value="<%= town %>"/>
    </div>
</div>

<div class="control-group">
    <label for="description" class="control-label">Post code:</label>
    <div class="controls">
        <input type="text" id="name" name="postalCode" value="<%= postalCode %>"/>
    </div>
</div>

<div class="control-group">
    <label for="description" class="control-label">Street:</label>

    <div class="controls">
        <% for(var i = 0; i < streetLines.length; ++i) { %>
        <input type="text" id="name" name="streetLines.<%=i%>" value="<%- streetLines[i] %>"/>
        <a href="#" class="removeStreet"><i class="icon-minus-sign" data-num="<%- i %>"></i></a>
        <% if(i == streetLines.length - 1) { %><a href="#" class="addStreet"><i class="icon-plus-sign"></i></a><% } %>
        <br />
        <% } %>
    </div>
</div>
